<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/header.ejs") %>

<body>
  <img src="./background.jpg" alt="">
  <%- include("./partials/body.ejs") %>

  
</body>
<script>
  // document.getElementById('myForm').addEventListener('submit', (e) =>{
  //   e.preventDefault();
  //   var name  =document.getElementById('name').value;
  //   var maths  =document.getElementById('maths').value;
  //   var english  =document.getElementById('english').value;
  //   console.log(name)
  //   name = 'sdgfdsg';
  //   maths = '';
  //   english = '';
  //   console.log(name)

  // })
  // function myFunction() {
  //   // setTimeout(function(){ 
  //     document.getElementById("name").value = "";
  //     document.getElementById("maths").value = "";
  //     document.getElementById("english").value = "";
  //   // }, 1000);
  // }
  


</script>
</html>