<form class="form" id="myForm" method="post" action="/users" >
  <h1>Details:</h1>

  <div class="form-group" >
    <i class="fa fa-user-circle " aria-hidden="true"></i>
    <input type="text" name="name" placeholder="Full Name" id="name" />
  </div>
  <div class="form-group">
    <i class="fas fa-user"></i>
    <input type="number" name="maths" placeholder="Maths Score" id="maths" />
  </div>
  <div class="form-group">
    <i class="fas fa-key"></i>
    <input type="number" name="english" placeholder="English Score" id="english" />
  </div>
  <label></label>

  <div>
    <button id="send" class="btn btn-block" style="border-radius: 5px;"  name="submit" onclick="myFunction()"> Submit </button>
  </div>

</form>