<header>
  <h2 style="display: inline;">&#128514</h2>
  <h1 style="display: inline;">JOKES</h1>
  <h2 style="display: inline;">&#128514</h2>
</header>

<form class="container container1" method="POST" action="/" >
  <h3 class="filter">FILTER:</h3>
  
  <!-- <div class="form-group" style="display: inline;"> -->
  <h3  class="Categaries"><label>Categaries:</label></h3>
    <!-- <input type="text" name="cat" placeholder="Categaries" id="usr" />
  </div> -->
  <select  id="optionsForCat" name="cat">
    <option >Any</option>
    <option >Programming</option>
    <option >Miscellaneous</option>
    <option >Dark</option>
    <option >Pun</option>

  </select>
  <!-- <div class="form-group" style="display: inline;"> -->
  <h3 class="JokeType" ><label >Joke Type:</label></h3>
    <!-- <input type="text" name="type" placeholder="Joke Type" id="usr" /> -->
  <!-- </div>  -->
  <select  id="optionsForType" name="type">
    <option >Any</option>
    <option >Single</option>
    <option >TwoPart</option>
  </select>
  
  <button type="submit" class="btn" name="submit"> Search </button>

</form>
