<footer id="main-footer" style="margin-top: 3em;background-color: rgb(247, 236, 224);">
  <div class="container" style="text-align: center;padding-top: 10px;padding-bottom: 10px;">
    <div class="social-media" style="display: flex;margin-left: 25em;">
      <span>
        <h4>Follow me on:</h4>
      </span>
      <span>
        <ul style="display: flex;list-style: none;">
          <li><a href="https://www.linkedin.com/in/sunil-kumhar-02815/" class="btn btn1">
              <i class="fa fa-linkedin" style="font-size: 1.5em;"></i>
            </a></li>
          <li><a href="https://github.com/Sunilkumhar" class="btn btn2">
              <i class="fa fa-github" style="font-size: 1.5em;"></i>
            </a></li>
          <li><a href="https://www.instagram.com/skumhar_02/" class="btn btn2">
              <i class="fa fa-instagram" style="font-size: 1.5em;"></i>
            </a></li>
        </ul>
      </span>
    </div>
    <h5>Sunilkumhar © 2020 | JOKES &#128540</h5>
  </div>
</footer>